---
layout: splash
author_profile: false

header:
  overlay_color: "#000"
  overlay_filter: "0.3"
  overlay_image: /assets/images/DJI_0894.JPG
  actions:
    - label: "SJSU Profile"
      url: "https://www.sjsu.edu/people/bo.yang/"
excerpt: "Geofly lab at San Jose State University with Dr. Bo Yang focuses on Geographic Information Systems (GIS), remote sensing, UAV/Drones, spatial visualization and analytics, and urban data science."

intro: 
  - excerpt: 'GIS and drones unlock new perspectives on the Earth we live in. Experience the power of spatial insights with our cutting-edge drone mapping and GIS lab. Our interdisciplinary team harnesses the latest geospatial technology to empower the next generation of spatial intelligence through innovative research and education.'

feature_row:
  - image_path: /assets/images/AK_Seagrass2.png
    title: "Drone for Coastal"
    excerpt: "Collaborative research using UAV to investigate eelgrass wasting disease"
    url: /UAV_seagrass/
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/Wildfire1.PNG
    title: "Drone for Wildfire"
    excerpt: "Use multi-sensor remote sensing and drone mapping for modeling California wildfires"
    url: /UAV_wildfire/
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/Drone3.jpg
    title: "Drone for Education"
    excerpt: ""
    url: /UAV_others/
    btn_label: "Read More"
    btn_class: "btn--primary"


	

---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}







