---
layout: splash
author_profile: false

header:
  overlay_color: "#000"
  overlay_filter: "0.3"
  overlay_image: /assets/images/DJI_0894.JPG
  actions:
    - label: "GIS Drone Society"
      url: "https://www.linkedin.com/company/90439721/"
<!---
excerpt: "SJSU GeoFly Lab affiliated with the SJSU Student Organization for GIS and the Drone Society. Please follow the link below to view our students' achievements and the latest updates."

intro: 
  - excerpt: 'Dr. Bo Yang's research group at San Jose State University focuses on GIS, remote sensing, UAV/drones, spatial analytics, visualization, and urban data science.'
--->
---

<!---
#{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row_left" type="left" %}

{% include feature_row id="feature_row_right" type="right" %}

{% include feature_row id="feature_row_left2" type="left" %}

{% include feature_row id="feature_row_right2" type="right" %}

{% include feature_row id="contact" type="left" %}

--->